.main-description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

}

.container-no-users {
    font-size: 30px;
    opacity: 0.5;
    text-align: center;
}